body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font-family:"微软雅黑","Arial Narrow",HELVETICA;background:#ddd;-webkit-text-size-adjust:100%;}
a{color:#172c45;text-decoration:none}
a:hover{color:#cd0200;text-decoration:underline}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
body{font-size:62.5%;}
.floatl{float:left}
.floatr{float:right}
.hide{display:none}
.show{display:block}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.mian{max-width:750px;width:100%;margin:0 auto;background:#7b5064;}
.mian h2{font-size:25px;line-height:200%;color:yellow;font-weight:bold;text-align:center;}

.wx{position:relative;}
.wx p{position:absolute;top:-60px;left:50%;margin-left:-100px;}


#popupWechat { max-width:750px; margin:0 auto; }
.wechatBox { position: fixed; top: 0; z-index: 5; width: 100%; height: 100%; display: none; }
.wechat { position: fixed; top: 35%; left: 10%; z-index: 5000; padding: 20px 0; width: 80%; border-radius: 20px; background: #fff; box-shadow: 1px 1px 2px #000; color: #666; text-align: center; display: none; }
.wechat .p1 { font-size: 18px; }
.wechat .p2 { font-size: 16px; }
.wechat .wxid { margin: 30px 0; padding: 10px; background-color: #e330aa; color: #fff100; font-weight: bold; font-size: 30px; }

@media (min-width: 500px) {
  .wx_account { font-size: 2rem; line-height: 3rem; }
  #main { margin-top: 3.2rem; }
  #right_ico { width: 89px; }
}


#right_ico { position: fixed; top: 40%; right: 2%; width: 70px; }


#footer { position: fixed; bottom: 0; width: 100%; max-width: 750px; height: 50px; line-height: 50px; color: #fff; font-size: 18px; text-align:center; }
#footer .we1 { float: left; padding-top: 0; width: 60%; background: #333; }
#footer .we2 { float: left; overflow: hidden; padding-top: 0; width: 40%; background: #da5a14; }
#footer .we2 a { color: #fff; display: block; }

video{width:90%;margin:1rem auto;margin-left:5%;background:#000}