<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JiSho</title>
    <script src="../js/vue.js"></script>
    <script src="../js/jisho.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/myJisho.css">
</head>
<body>
    <div id="container">
        <div id="queryForm">
            <input type="text" v-model="word" name="word">
            <input type="button" name="query" value="Query">
            <hr>
        </div>
        <div id="result">
            
            <ul>
                <li v-for="phrase in phrases">
                    {{ phrase.ja }} - {{ phrase.en }} {{ phrase.l }}
                </li>
            </ul>
        </div>
    </div>
    <script src="../js/myJisho.js"></script>
</body>
</html>